<header class="masthead" style="background-image: url('./assets/image/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5 margin-top">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Spring Blog</h1>
                    <span class="subheading">A Blog Worth Your Time On Exploring</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container position-relative px-4 px-lg-5">
    <div class="row">
        <!--First User design starts here-->
        <div class="text">Welcome To Spring Blog</div>
        <div class="profile-card">
            <div class="profile-content">
                <div class="profile-image">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <!-- <img src="./assets/image/bg_1.jpg" alt="first user"> -->
                </div>
                <div class="desc">
                    <h2>Built for developers</h2>
                    <p>Our customizable, block-based build system makes creating your next project fast and easy!</p>
                </div>
               
            </div>
        </div>
        <!--First user design ends here-->
         <!--second User design starts here-->
         <div class="profile-card">
            <div class="profile-content">
                <div class="profile-image">
                    <!-- <img src="./assets/image/bg_1.jpg" alt="first user"> -->
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </div>
                <div class="desc">
                    <h2>Modern responsive design</h2>
                    <p>Featuring carefully crafted, mobile-first components, your end product will function beautifully on any device!</p>
                </div>
                
            </div>
        </div>
        <!--second user design ends here-->
         <!--third User design starts here-->
         <div class="profile-card">
            <div class="profile-content">
                <div class="profile-image">
                    <!-- <img src="./assets/image/bg_1.jpg" alt="first user"> -->
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
                <div class="desc">
                    <h2>Complete documentation</h2>
                    <p>All of the layouts, page sections, components, and utilities are fully covered in this products docs. </p>
                </div>
               
            </div>
        </div>
        <!--third user design ends here-->
         <!--fourth User design starts here-->
         <div class="profile-card">
            <div class="profile-content">
                <div class="profile-image">
                    <!-- <img src="./assets/image/bg_1.jpg" alt="first user"> -->
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="desc">
                    <h2>Helpful advice from seniors</h2>
                    <p>This community can help you through professional feedback and opinion on your coding skill</p>
                </div>
            </div>
        </div>
        <!--fourth user design ends here-->
         <!--Fifth User design starts here-->
         <div class="profile-card">
            <div class="profile-content">
                <div class="profile-image">
                    <!-- <img src="./assets/image/bg_1.jpg" alt="first user"> -->
                    <i class="fa fa-user-times" aria-hidden="true"></i>
                </div>
                <div class="desc">
                    <h2>User Report</h2>
                    <p>You can report against any abusive behavior to keep the total environment clean and constructive</p>
                </div>
            </div>
        </div>
        <!--Fifth user design ends here-->
         <!--six User design starts here-->
         <div class="profile-card">
            <div class="profile-content">
                <div class="profile-image">
                    <!-- <img src="./assets/image/bg_1.jpg" alt="first user"> -->
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </div>
                <div class="desc">
                    <h2>Share Your Code</h2>
                    <p>Share your idea to broaden your knowledge & Increase your opportunity to explore more</p>
                </div>
            </div>
        </div>
</div>
